* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.3s ease-out;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #262a2b, #3d3d3d);
  font-family: 'Roboto', sans-serif;
  color: #e3e3e3;
}
.logo img {
  width: 90px;
  height: auto;
}
@media (min-width: 768px) {
  .logo img {
    width: 100px;
  }
}


.page-title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
  background: linear-gradient(to right, #ff9900, #3d3d3d);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  justify-self: center;
  gap: 1rem;
  height: 90vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  width: 30%;
  max-width: 100rem;
  background: linear-gradient(to right, #262a2b, #3d3d3d);
  border: 5px solid #ff9900;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.dashboard-title {
  font-weight: 900;
  font-size: 3rem;
  color: #ff9900;
  align-self: center;
}

.action-bar-description {
  font-weight: 500;
  font-size: 1.6rem;
}

.streaming-link-container {
  font-weight: 500;
  font-size: 4rem;
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}

.action-bar-description {
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.streaming-link-input {
  width: 100%;
  height: 70%;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 0 20px;
  margin-bottom: 1rem;  /* add a bottom margin */

}

.action-bar-buttons-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  padding: 2rem;
}
.btn-group {
  margin-bottom: 1rem;
}

.action-bar-button {
  width: 10rem;
  height: 4.3rem;
  background-color: #ff9900;
  border-color: #ff6600;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s all;
  margin: 0.5rem;
}


.action-bar-button:hover, .action-bar-button:focus {
  background-color: #ff9900;
  color: #fff;
  transform: scale(1.05);
  outline: none;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;  /* Place the popup under the button */
  left: 50%;
  margin-left: -80px; /* Use half of the width value to center the popup */
  opacity: 0;
  transition: opacity 0.3s;
}

.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}

#people-count-chart {
  height: 300px;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #ff9900;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #ff6600;
  color: #fff;
}

.video-container-title {
  font-weight: 900;
  font-size: 3rem;
  color: #ff9900;
  align-self: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  max-width: 100rem;
  background: linear-gradient(to right, #262a2b, #3d3d3d);
  border: 5px solid #ff9900;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.main-stream-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 5px solid #ff9900;
  border-radius: 0.5rem;
  z-index: 1;
  image-rendering: pixelated;
}

/* Add styles for the footer */
#footer {
  background-color: #131313;
  padding: 20px 0;
  color: #e3e3e3;
  text-align: center;
  font-size: 1.6rem;
}

#footer p {
  margin: 0;
}

/* Styles for People Counting Section */

.people-counting-title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #ff9900;
  padding: 1rem 0;
  margin-top: 1rem;  /* add a top margin */

}


.people-counting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100rem;
  background: linear-gradient(to right, #262a2b, #3d3d3d);
  border: 5px solid #ff9900;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  
}


.people-counting-title {
  font-weight: 900;
  font-size: 3rem;
  color: #ff9900;
  align-self: center;
}

.people-counting-chart {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}
