* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/background.jpg");
  background-size: cover;
}

.page-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3rem;
  color: #e3e3e3;
  text-align: center;
  background-color: darkslategray;
  padding: 15px;
}

button {
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  justify-self: center;
  gap: 1rem;
  height: 90vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  gap: 2rem;
  width: 30%;
  max-width: 100rem;
  background-color: #666666;
  border: 5px solid #505050;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.dashboard-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3rem;
  color: #e3e3e3;
  align-self: center;
}

.dashboard-discription-paragraph {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #131313;
  color: #e3e3e3;
}

.action-bar-description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.6rem;
  color: #e3e3e3;
}

.action-bar-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.streaming-link-container {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 4rem;
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.streaming-link-paragraph {
  font-weight: 500;
  font-size: 2rem;
}

.streaming-link-input:focus {
  outline: none;
}

.streaming-link-input {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 0 20px;
}

.streaming-link-buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.dashboard-discription {
  width: 26rem;
  height: 6.3rem;
  background-color: #e3e3e3;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.5rem;
  color: #454590;
  transition: 0.9s all;
}

.action-bar-button {
  width: 10rem;
  height: 4.3rem;
  background-color: #ff9900;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.5rem;
  color: #ff9900;
  cursor: pointer;
  transition: 0.9s all;
}

.action-bar-button:hover {
  background-color: #ff9900;
}

/* Add the new popup styles here */
.popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  z-index: 1000;
}

.popup.show {
  display: block;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  max-width: 100rem;
  background-color: #666666;
  border: 5px solid #505050;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}

.video-container-title {
  position: relative;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 4rem;
}

.video-empty-message {
  position: absolute;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.8rem;
  color: #999999;
  z-index: 0;
}

.video-mobile-incompatibility-message {
  position: absolute;
  margin-top: 6rem;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.8rem;
  color: #999999;
  z-index: 0;
}

.main-stream-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 5px solid #505050;
  border-radius: 0.5rem;
  z-index: 1;
  image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
  .wrapper {
    align-items: center;
    flex-direction: column;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
    min-width: 80vw;
    max-width: 100rem;
    background-color: #131313;
    
  }

  .action-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    height: 10rem;
  }

  .action-bar-description {
    font-size: 1rem;
  }
  .action-bar-buttons-container{
    border: 5px solid #505050;


  }

  .video-container {
    width: 90vw;
    max-width: 100rem;
  }

  .video-empty-message {
    font-size: 1.4rem;
  }

  .video-mobile-incompatibility-message {
    font-size: 1.15rem;
  }
}

/*Smaller than 500*/
@media screen and (max-width: 480px) {
  .wrapper {
    align-items: center;
    flex-direction: column;
  }

  .action-bar-title {
    font-size: 1rem;
  }

  .action-bar-description {
    font-size: 1rem;
  }

  .action-bar-button {
    font-size: 1rem;
    font-weight: 300;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
    width: 80vw;
    max-width: 100rem;
    background-color: #131313;
    justify-content: space-between;
  }
}